<div *ngIf="isAvailable" class="container">
  <div class="grid">
    <div class="col-12">
      <p-card>
        <div class="grid">
          <div class="col-12 md:col-12 lg:col-8">
            <galleria [images]="images"></galleria>
          </div>
          <div class="col-12 md:col-12 lg:col-4">
            <game-details [gameDetails]="gameDetails"></game-details>
          </div>
        </div>
      </p-card>
    </div>
  </div>
</div>

<div *ngIf="!isAvailable" class="spinner">
  <p-progressSpinner></p-progressSpinner>
</div>
