.image-gallery {
  width: 100%;
}

.image {
  object-fit: cover;
  height: 65vh;
}

.title {
  line-height: 1.5;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.stat {
  display: flex;
  margin-bottom: 1rem;
  align-content: center;
  justify-content: space-between;
}
.label {
  font-size: bold;
  margin-right: 1rem;
}
.container-tags {
  display: inline-block;
  margin: 0.5rem 0.1rem;
}
