.img {
  width: 100%;
  height: 35vh;
  object-fit: cover;
  border-radius: 1rem;
  filter: brightness(0.8);
}

span {
  position: relative;
  bottom: 3rem;
  display: block;
  font-size: 1.1rem;
  text-align: center;
  font-weight: bold;
}

@media (min-width: 768px) {
  .img {
    height: 75vh;
  }
  span {
    font-size: 1.8rem;
    bottom: 4rem;
  }
}
