<p-carousel [value]="games" styleClass="custom-carousel" [numVisible]="3" [numScroll]="1" [circular]="true" [autoplayInterval]="3000" [responsiveOptions]="responsiveOptions">
    <ng-template class="header" pTemplate="header">
       <h2 class="title">Most Popular Games</h2>
    </ng-template>
    <ng-template let-game pTemplate="item">
        <div class="product-item">
            <div class="product-item-content">
                <div class="mb-3">
                    <img [src]="game.background_image" [alt]="game.name" class="product-image" />
                    <h3>{{game.name}}</h3>
                </div>
                <div>
                    <button pButton type="button" label="Details" class="p-button-outlined"></button>
                </div>
            </div>
        </div>
    </ng-template>
</p-carousel>