<div class="bg-image">
  <img
    class="image-gallery image"
    [src]="gameDetails.background_image"
    alt=""
  />
  <h2 class="image-title">{{ gameDetails.name }}</h2>
</div>
<div class="stat">
  <div class="label">released:</div>
  <div class="value">{{ gameDetails.released }}</div>
</div>
<div class="stat">
  <div class="label">developers:</div>
  <div class="value">{{ gameDetails.developers[0].name }}</div>
</div>
<div class="stat">
  <div class="label">esrb rating:</div>
  <div class="value">{{ gameDetails.esrb_rating.name }}</div>
</div>
<div *ngIf="gameDetails.platforms" class="tags">
  <h2 class="title">platforms</h2>
  <div class="container-tags" *ngFor="let platform of gameDetails.platforms">
    <p-tag severity="primary" [value]="platform.platform.name"></p-tag>
  </div>
</div>
<div *ngIf="gameDetails.genres" class="tags">
  <h2 class="title">Genres</h2>
  <div class="container-tags" *ngFor="let genre of gameDetails.genres">
    <p-tag severity="primary" [value]="genre.name"></p-tag>
  </div>
</div>
<div *ngIf="gameDetails.tags" class="tags">
  <h2 class="title">tags</h2>
  <div class="container-tags" *ngFor="let tag of gameDetails.tags">
    <p-tag severity="primary" [value]="tag.name"></p-tag>
  </div>
</div>
