.grid {
    width: 100%;
    justify-content: center;
}
.card__container {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 1rem;
    background-color: var(--bg-color-grey);
}

.card__header {
    position: relative;
    display: flex;
    flex: 1 1 auto;
}

.card__header::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    content: '';
    background-image: linear-gradient(
        360deg,
        rgba(0, 0, 0, 1) 0%,
        rgba(0, 0, 0, 1) 5%,
        rgba(255, 255, 255, 0) 100%
    );
}
.card__header-image {
    display: block;
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.card__header-rating {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0.5rem;
    padding: 1rem;
    border-radius: 50%;
    background-color: var(--white-color);
    border: 1px solid var(--primary-color);
}

h3 {
    color: var(--bg-color-dark);
}

.card__body {
    width: 100%;
}
.card__body-title {
    text-align: center;
    margin: 0, 0.5rem;
    padding: 0.5rem;
}

.card__body-subtitle {
    text-align: center;
}

.card__footer {
    width: 100%;
    text-align: center;
    margin-top: 0.5rem;
    padding: 0.5rem;
}

.card__platforms {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.platform {
    width: 24px;
    height: 24px;

    margin: 0.5rem;
}

.imagecover {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.playstation {
    background-image: url('../../../../assets/plattforms/playstation.webp');
}

.pc {
    background-image: url('../../../../assets/plattforms/pc.webp');
}

.nintendo {
    background-image: url('../../../../assets/plattforms/nintendo.webp');
}

.xbox {
    background-image: url('../../../../assets/plattforms/xbox.webp');
}
.linux {
    background-image: url('../../../../assets/plattforms/linux.webp');
}
.mac {
    background-image: url('../../../../assets/plattforms/mac.png');
}
.android {
    background-image: url('../../../../assets/plattforms/android.webp');
}
.ios {
    background-image: url('../../../../assets/plattforms/ios.webp');
}
