<p-card [header]="game.name"  [style]="{ 'border-radius': '13px' ,'width': '22rem','margin-top': '1em'}">
    
    <ng-template pTemplate="header">
        <img [alt]="game.name" [src]="game.background_image">
    </ng-template>
    <ng-template  pTemplate="content">
        <p class="genre rounded" *ngFor="let platform of game.parent_platforms">
           {{platform.platform.name}}
        </p>
    </ng-template>
    <ng-template  pTemplate="footer">
        <button pButton type="button" label="Details" class="p-button-outlined" [routerLink]="['details/',game.id]"></button>
    </ng-template>
    
</p-card>