
img{
    width: 100%;
    height: 250px;
    border-radius: 13px;
}
.genre{
    display:inline-block;
    margin-right: 0.3em;
}
.rounded{
    border: 0.5px solid white;
    border-radius: 13px;
    padding: 0.5em;
    margin: 0.3em;
    font-size: 0.8em;
}
