.platform__card-image {
    width: 65px;
    height: 65px;
    margin: 0 auto;
}

.platform__card-title,
.container__title {
    text-align: center;
    margin-top: 0.5rem;
}

.platform__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 1rem;
    background-color: var(--bg-color-grey);
}
.platform__card {
    max-width: 150px;
    margin: 1rem;
    padding: 1rem;
    cursor: pointer;
}
.platform__card:hover {
    transform: scale(1.1);
}
