<div *ngIf="isAvailable">
  <app-latest-games [games]="latestGames"></app-latest-games>
  <div>
    <app-card [category]="'Action Games'" [gamelist]="actionGames"></app-card>
    <app-card [category]="'Shooter Games'" [gamelist]="shooterGames"></app-card>
    <app-card [category]="'Racing Games'" [gamelist]="racingGames"></app-card>
  </div>
  <div class="button">
    <button routerLink="/allgames" pButton label="All Games"></button>
  </div>
</div>

<div class="spinner" *ngIf="!isAvailable">
  <p-progressSpinner></p-progressSpinner>
</div>
<router-outlet></router-outlet>
