/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;700&display=swap');

:root {
    --bg-color-dark: #121212;
    --bg-color-grey: #1e1e1e;
    --primary-color: #ba68c8;
    --white-color: #ffffff;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,
html {
    font-family: 'Lato', sans-serif;
    background-color: var(--bg-color-dark);
    color: var(--white-color);
}
.spinner {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    margin: 0.5rem;
    padding: 0.5rem;
}

a {
    text-decoration: none;
    color: var(--white-color);
}

.imagecover {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.playstation {
    background-image: url('./assets/plattforms/playstation.webp');
}

.pc {
    background-image: url('./assets/plattforms/pc.webp');
}

.nintendo {
    background-image: url('./assets/plattforms/nintendo.webp');
}

.xbox {
    background-image: url('./assets/plattforms/xbox.webp');
}
.linux {
    background-image: url('./assets/plattforms/linux.webp');
}
.mac {
    background-image: url('./assets/plattforms/mac.png');
}
.android {
    background-image: url('./assets/plattforms/android.webp');
}
.ios {
    background-image: url('./assets/plattforms/ios.webp');
}
