<div class="container" *ngIf="isAvailable">
  <div class="grid">
    <div class="col-12">
      <div class="p-fluid">
        <span class="p-input-icon-right">
          <i class="pi pi-search"></i>
          <input
            type="text"
            pInputText
            placeholder="Search Games"
            [(ngModel)]="searchBinding"
            (keyup)="changeSearch()"
          />
        </span>
      </div>
    </div>
  </div>
  <div class="grid">
    <div>
      <card [gamelist]="games"></card>
    </div>
  </div>
  <p-paginator
    [rows]="10"
    [totalRecords]="100"
    (onPageChange)="paginate($event)"
  ></p-paginator>
</div>

<div class="spinner" *ngIf="!isAvailable">
  <p-progressSpinner></p-progressSpinner>
</div>
